.container {
    width: 80%;
    max-width: 1045px;
    margin-left: auto;
    margin-right: auto;
}

.filters {
    list-style: none;
    flex-grow: 1;
    display: flex;
}

.filters__item {
    padding: 10px 20px;
}

.filters__link {
    text-decoration: none;
    color: black;
    padding: 5px;
    border-color: aliceblue;
    background-color: aliceblue;
}

.selected {
    border-color: rgb(113, 113, 155);
    background-color: rgb(101, 101, 219);
    color: white;
}

.todo {
    list-style: none;
    padding: 0;
}

.todo__input {
    display: block;
    border-radius: 2px solid (101, 101, 219);
    padding: 5px 10px;
}

.todo__item {
    width: 100%;
    display: flex;
    margin: 0;
    padding: 10px 0;
}





.checked {
    opacity: 0.6;
}

.todo__content {
    position: relative;
    flex-grow: 1;
}

.todo__text {
    height: 100%;
}



.todo__edit-input {
    position: absolute;
    width: 100%;
    display: none;
    top: 0;
    left: 0;
}

.todo__footer {
    display: flex;
    justify-items: baseline;
}

.todo__counter {
    width: 25%;
    padding: 10px 20px;
}
.todo__count-number {
    color: goldenrod;
    font-size: 18px;
}
.edit {
    padding-right: 10px;
    cursor: pointer;
}

.delete {
    padding-left: 10px;
    cursor: pointer;
}
